*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}

/* Banner style start here  */

.banner{
    background-image: url("../images/banner/banner3.png");
    background-size: cover;
    background-position: left bottom;
    height: 720px;
    
}

.banner-text{
    text-align: right;
    padding-top: 220px;
    padding-right: 120px;
}

.banner-text h1{
    font-weight: 700;
    font-size: 50px;
    color: #FFFFFF;
}

.banner-text p{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.btn-primary{
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    border-color: #FFFFFF;

}

/* Portfolio style start here  */

.portfolio-sections, .footer-section{
    margin-left: 200px;
    margin-right: 200px;
}

/* Profile feature style start here  */

.feature{
   margin-top: 120px;
   margin-bottom: 120px;
  
}

.feature-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    
}

img{
    max-width: 100%;
}
.feature-image{
   flex-basis: 40%;
}

.feature-text{
    padding-top: 50px;
}

.feature-text h3{
    font-weight: 700;
    font-size: 40px;
}

.feature-text p{
    font-weight: 400;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.feature-text ul li{
    padding-left: 5px;
}

.feature-text ul li::marker{
    content: '✓';
    color: green;
}

/* Plans style start here */
.plans{
padding-bottom: 100px;
}

.plan-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.plans-title{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    text-align: center;
    padding-bottom: 50px;
}

.plan-card{
    
}

.plan-card-img{
    margin: auto;
}

.plan-card h3{
    font-weight: 600;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.plan-card p{
    color: #737272;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

/* Package price style here  */

.package{
    margin-bottom: 100px;
}

.package-subtitle{
    font-weight: 500;
    font-size: 20px;
    color: #005FAC;
    text-align: center;

}

.package-title{
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
}

.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.price-card{
    padding: 50px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.price-card h3{
    font-weight: 500;
    font-size: 30px;
    text-align: center;
}

.price-card h4{
    font-weight: 600;
    font-size: 25px;
    color: #005FAC;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.price-card ul{
    padding-top: 10px;
    
}

.price-card ul li{
    padding-left: 5px;
}

.price-card ul li::marker{
    content: '✓';
    color: green;
}

.btn-secondary{
    color:#FFFFFF;
    background-color: #151414;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    border-color: #151514;
    margin-top: 25px;
}

/* Contact style here  */

.contact{
    background-image: url("../images/watch.png"), url("../images/gradient1.png");
    background-blend-mode: multiply;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 100px;
}

.contact-content{
    padding-top: 60px;
    padding-left: 65px;
}

.contact-content-title{
    color:#FFFFFF;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
}

/* footer style here  */

footer{
    background-color: black;
    color: #FFFFFF;
    padding-top: 100px;
    padding-bottom: 50px;
}

.footer-section{
    display: flex;
    gap: 100px;
    padding-bottom: 100px;
}

.footer-text h3{
    font-weight: 700;
    font-size: 40px;

}

.footer-text p{
    font-weight: 400;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.social-icon{
    padding-top: 15px;

}

.social-icon a{
    padding: 5px;
}

.newsletter{
    
}

.newsletter h3{
    font-weight: 600;
    font-size: 25px;
}

.newsletter p{
    font-weight: 400;
    font-size: 16px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.newsletter input{
    padding: 10px;
    margin-bottom: 25px;
    width: 100%;
    background-color: black;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

.copyright{
    color: #FFFFFF;
    text-align: center;   
}