*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}

/* Banner style start here  */

.banner{
    background-image: url("../images/banner/banner3.png");
    background-size: cover;
    background-position: left bottom;
    height: 720px;
    
}

.banner-text{
    text-align: right;
    padding-top: 220px;
    padding-right: 120px;
}

.banner-text h1{
    font-weight: 700;
    font-size: 50px;
    color: #FFFFFF;
}

.banner-text p{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.btn-primary{
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    border-color: #FFFFFF;

}

/* Portfolio style start here  */

.portfolio-sections, .footer-section{
    margin-left: 200px;
    margin-right: 200px;
}

/* Profile feature style start here  */

.feature{
   
   padding-top: 120px;
   padding: 80px;
  
}

.feature-content{
    margin: 0px;
    display: flex;
    justify-content: center;
}


.feature-image{
    background-size: cover;
    background-position: center;
   background-position: left center;
}

.feature-text{
  padding-top: 50px;
}

.feature-text h3{
    font-weight: 700;
    font-size: 40px;
}

.feature-text p{
    font-weight: 400;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.feature-text ul li{
    padding-left: 5px;
}

.feature-text ul li::marker{
    content: '✓';
    color: green;
}

/* Plans style start here */

.plans{

}

.plan-card{

}

.plan-card img{

}

.plan-card h3{

}

.plan-card p{

}

/* Package price style here  */

.package{

}

.package h4{

}

.package h3{

}

.card{

}

.price-card{

}

.price-card h3{

}

.price-card h4{

}

.price-card ul{

}

.price-card ul li{
    padding-left: 5px;
}

.price-card ul li::marker{
    content: '✓';
    color: green;
}

.btn-secondary{
    
}

/* Contact style here  */

.contact{

}

.contact-text{

}

/* footer style here  */

footer{
    background-color: black;
    color: #FFFFFF;
    padding-top: 100px;
    padding-bottom: 50px;
}

.footer-section{
    display: flex;
    gap: 100px;
    padding-bottom: 100px;

}

.footer-text-and-icon{

}

.footer-text-and-icon{

}

.footer-text{

}

.footer-text h3{
    font-weight: 700;
    font-size: 40px;

}

.footer-text p{
    font-weight: 400;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.social-icon{
    padding-top: 15px;

}

.social-icon a{
    padding: 5px;
}

.newsletter{
    
}

.newsletter h3{
    font-weight: 600;
    font-size: 25px;
}

.newsletter p{
    font-weight: 400;
    font-size: 16px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.newsletter input{
    padding: 10px;
    margin-bottom: 25px;
    width: 100%;
    background-color: black;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

.copyright{
    color: #FFFFFF;
    text-align: center;   
}